<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Banking System</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">
  </head>
  <body>

    <nav class="navbar navbar-inverse" style="border-radius: 0;">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <#if (callerId)?has_content>
          <a class="navbar-brand" href="/">Hello ${callerId}!</a>          
          <#else>
          <a class="navbar-brand" href="/">Banking</a>
          </#if>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" method="POST" action="/logout">
<#if (callerId)?has_content>
            <button type="submit" class="btn btn-danger">Logout</button>
<#else>
            <a class="btn btn-success" href="/login" role="button">Login</a>
</#if>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <div class="container">

      <@page_body/>

      <hr>

      <footer>
        <p>
        	<#if callerId?has_content && callerId != "">
				<a class="navbar-brand" href="/">Transactions</a>
			</#if>
			<#if callerId?has_content && callerId == "admin@test.com">
				<a class="navbar-brand" href="/">Admin Search</a>
			</#if>
		</p>
      </footer>

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
</html>
